.vs/*
.vscode/*

obj/*
Temp/*
Logs/*
Library/*

Assets/AssetStoreTools/*
Assets/AssetStoreTools.meta

.DS_Store
iso-tools.sln
iso-tools.userprefs
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
unity-iso-tools.sln
unity-iso-tools.userprefs
